    window-rule {
        geometry-corner-radius 10 // Set every window radius to 20
        clip-to-geometry true
    }

    layer-rule {
        match namespace="^noctalia-backdrop"
        place-within-backdrop true
    }

    overview {
	workspace-shadow {
		off
	}
    }
